# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.idea/
*.sublime-project
*.sublime-workspace

# Environment & Secrets
.env
.env*.local
*.log

# Dependencies
node_modules/

# Production & Build Outputs
dist/
build/
.next/
src/client/.next/
out/
next-env.d.ts
src/client/next-env.d.ts
